
body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.box {
    width: 1440px;
    height: 1024px;
    background-image: url(../img/Sharp.jpg);
     display: flex;
    justify-content: center; 
    align-items: center; 
}

.paragraf{
    width: 920px;
    height: 364px;
    text-align: center;

}

.button{
    width: 236px;
    height: 64px;
    background-color: #094BAC;
    color: #FFFFFF;
    border-radius: 32px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}